
@font-face {
	font-family: "Pretendard";
	font-display: fallback; /*폰트 다운로드 되는 동안 브라우저 기본폰트로 보여주기*/
	src: url("./Asset/Font/Pretendard/public/variable/PretendardVariable.ttf");
}

@font-face {
	font-family: "HakgyoansimGaeulsopungB";
	font-display: fallback;
	src: url("./Asset/Font/HakgyoansimGaeulsopung/HakgyoansimGaeulsopungB.ttf");
}

@font-face {
	font-family: "HakgyoansimGaeulsopungL";
	font-display: fallback;
	src: url("./Asset/Font/HakgyoansimGaeulsopung/HakgyoansimGaeulsopungL.ttf");;
}

:root{
	--font-Pretendard: "Pretendard";
	--font-HakgyoansimGaeulsopungB: "HakgyoansimGaeulsopungB";
	--font-HakgyoansimGaeulsopungL: "HakgyoansimGaeulsopungL";;
}

body {
	margin: 0;
	font-family: "Pretendard";
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
